

  <body>



      <!-- 
      =============================================
        Theme Header
      ============================================== 
      -->
     <!-- /.theme-menu-wrapper -->
      

      <!-- 
      =============================================
        Theme Inner Banner
      ============================================== 
      -->

      <div class="theme-inner-banner" style="background: url(/images/home/banner-9.jpg) no-repeat center;background-size:cover;">
        <div class="opacity">
          <div class="container">
            <h3>Error</h3>
            <ul>
              <li><a href="/courses">Home</a></li>
              <li>/</li>
              
              <li>Error</li>
            </ul>
          </div> <!-- /.container -->
        </div> <!-- /.opacity -->
      </div> <!-- /.theme-inner-banner -->

      
      <!-- 
      =============================================
        Error Page
      ============================================== 
      -->
      <div class="error-page text-center">
        <div class="container">
          <h2>404</h2>
          <p>Well, something isn’t right! The page you are looking for cannot be found. </p>
          
        </div> <!-- /.container -->
      </div> <!-- /.error-page -->
      

      
      <!-- 
      =============================================
        Footer
      ============================================== 
      -->

          

          <!-- Scroll Top Button -->
      <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>


    <!-- Js File_________________________________ -->
    <!-- j Query -->
    </div> <!-- /.main-page-wrapper -->
  </body>
</html>