<footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-logo">
                <a href="index.html"><img src="<%= asset_path 'elearning/images/logo/logo.png'%>" alt="Logo"></a>
                <p>Scholars provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
                <p>&copy; 2017 Scholrs Inc. All rights reserved.</p>
                <ul>
                  <li><a href="https://www.apple.com/itunes/"><img src="<%= asset_path 'elearning/images/logo/android.png' %>" alt=""></a></li>
                  <li><a href="https://play.google.com/store"><img src="<%= asset_path 'elearning/images/logo/apple.png'%>" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-3 footer-list">
              <h6>Scholars</h6>
              <ul>
                <li><a href="about-us.html" class="tran3s">About Us</a></li>
                <li><a href="#" class="tran3s">Leadership</a></li>
                <li><a href="#" class="tran3s">Careers</a></li>
                <li><a href="faq.html" class="tran3s">FAQ</a></li>
                <li><a href="contact-us.html" class="tran3s">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3 footer-list">
              <h6>Product</h6>
              <ul>
                <li><a href="#" class="tran3s">Education Light</a></li>
                <li><a href="#" class="tran3s">Eucation Starter</a></li>
                <li><a href="#" class="tran3s">Eucation Premium</a></li>
                <li><a href="#" class="tran3s">Business</a></li>
                <li><a href="#" class="tran3s">Business Plus</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-6 footer-list">
              <h6>Support</h6>
              <ul>
                <li><a href="#" class="tran3s">Support</a></li>
                <li><a href="#" class="tran3s">Toll Free Number</a></li>
                <li><a href="#" class="tran3s">Open Ticket</a></li>
                <li><a href="#" class="tran3s">System Requirements</a></li>
                <li><a href="#" class="tran3s">Feedback</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
              <h6>Subscribe Us</h6>
              <p>Subscribe us to get all the latest news from us </p>
              <form action="#">
                <input type="text" placeholder="Your Email">
                <button class="p-bg-color hvr-rectangle-out">SEND</button>
              </form>
            </div>
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </footer>
