<div id="theme-main-banner" class="banner-one">
				<div data-src="<%= asset_path 'elearning/images/home/slide-1.jpg' %>">
					<div class="camera_caption">
						<div class="container">
							<h6 class="wow fadeInUp animated">Get Educated with the best teachers</h6>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.3s">EDUCATION IS THE BACKBONE <br>OF A NATION</h1>
							<a href="course-2-column.html" class="tran3s wow fadeInLeft animated hvr-rectangle-out button-one" data-wow-delay="0.499s">OUR COURSE</a>
							<a href="course-2-column.html" class="tran3s wow fadeInRight animated hvr-rectangle-out" data-wow-delay="0.499s">ENROLL NOW</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="<%= asset_path 'elearning/images/react.jpg'%>">
					<div class="camera_caption">
						<div class="container">
							<h6 class="wow fadeInUp animated">Get Educated with the best teachers</h6>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.3s">EDUCATION IS THE BACKBONE <br>OF A NATION</h1>
							<a href="course-2-column.html" class="tran3s wow fadeInLeft animated hvr-rectangle-out button-one" data-wow-delay="0.499s">OUR COURSE</a>
							<a href="course-2-column.html" class="tran3s wow fadeInRight animated hvr-rectangle-out" data-wow-delay="0.499s">ENROLL NOW</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="<%=asset_path 'elearning/images/home/slide-4.jpg' %>">
					<div class="camera_caption">
						<div class="container">
							<h6 class="wow fadeInUp animated">Get Educated with the best teachers</h6>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.3s">EDUCATION IS THE BACKBONE <br>OF A NATION</h1>
							<a href="course-2-column.html" class="tran3s wow fadeInLeft animated hvr-rectangle-out button-one" data-wow-delay="0.499s">OUR COURSE</a>
							<a href="course-2-column.html" class="tran3s wow fadeInRight animated hvr-rectangle-out" data-wow-delay="0.499s"></a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
			</div>