

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
    <li class="breadcrumb-item"><a href="/courses/"#{params[:id]}"/chapters">Chapters</a></li>
    <li class="breadcrumb-item"> <a href="/courses/1/chapters/2/lectures">Lectures</a></li>
  </ol>
</nav>